body {
  background-color: lightgray;
  font-family: "Zilla Slab", serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.center {
  justify-content: center;
}
.margin-3 {
  margin: 3rem;
}
.padding-1 {
  padding: 0.5rem;
}
.font-l {
  font-size: 3rem;
}
.typing {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 3.5s steps(40, end);
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.references {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  margin-left: 1rem;
  color: gray;
  overflow: visible;
  white-space: nowrap;
  transition: width 1s;
  box-sizing: border-box;
  padding: 0.3rem 0.7rem;
}
.references:hover {
  cursor: pointer;
  background-color: black;
  width: 8rem;
}
