body {
  background-color: lightgray;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.center {
  justify-content: center;
}
.margin-3 {
  margin: 3rem;
}
.padding-1 {
  padding: 0.5rem;
}
.font-l {
  font-size: 3rem;
}
